<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th {
            text-align: left;
        }
    </style>
</head>
<body>

<fieldset>
    <legend>WELCOME</legend>
    <table>
        <tr>
            <th>Account:</th>
            <th><label>
                <input disabled th:value="${user.getAccount()}">
            </label></th>
        </tr>
        <tr>
            <th>Name:</th>
            <th><label>
                <input disabled th:value="${user.getName()}">
            </label></th>
        </tr>
        <tr>
            <th>Age:</th>
            <th><label>
                <input disabled th:value="${user.getAge()}">
            </label></th>
        </tr>
        <tr>
            <th>Email:</th>
            <th><label>
                <input disabled th:value="${user.getEmail()}">
            </label></th>
        </tr>
    </table>
</fieldset>

</body>
</html>


<!--
    For upload to git
    1. Up load to git:
        - git init
        - git remote add origin + link repo
        - git add .
        - git commit -m "note"
        - git push origin master
    -->

<!-- for gradel
    // For Lombok
    compileOnly 'org.projectlombok:lombok:1.18.8'
    annotationProcessor 'org.projectlombok:lombok:1.18.8'
    // For SpringMVC
    compile group: 'javax.servlet', name: 'javax.servlet-api', version: '3.1.0'
    compile group: 'org.springframework', name: 'spring-core', version: '4.3.17.RELEASE'
    compile group: 'org.springframework', name: 'spring-context', version: '4.3.17.RELEASE'
    compile group: 'org.springframework', name: 'spring-beans', version: '4.3.17.RELEASE'
    compile group: 'org.springframework', name: 'spring-web', version: '4.3.17.RELEASE'
    compile group: 'org.springframework', name: 'spring-webmvc', version: '4.3.17.RELEASE'
    // For Thymeleaf
    compile group: 'org.thymeleaf', name: 'thymeleaf-spring4', version: '3.0.9.RELEASE'
    compile group: 'nz.net.ultraq.thymeleaf', name: 'thymeleaf-layout-dialect', version: '1.2'
    // For MySql
    compile group: 'mysql', name: 'mysql-connector-java', version: '8.0.11'
    // For Spring JPA or Spring Data JPA using Hibernate
    compile group: 'org.hibernate', name: 'hibernate-core', version: '5.3.0.Final'
    compile group: 'org.hibernate', name: 'hibernate-entitymanager', version: '5.3.0.Final'
    compile group: 'org.springframework', name: 'spring-orm', version: '4.3.17.RELEASE'
    compile group: 'org.springframework.data', name: 'spring-data-jpa', version: '1.11.12.RELEASE'
    -->